/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background-image:url(images/img01.png);
	font-family: 'Abel', sans-serif;
	font-size: 16pt;
	color: #000033;
	font-weight: bold;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #FFFFFF;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

foobar{
		padding: 10px;
}

.heading1{
	color: #1122FF;
}

h3 {
	font-size: 1.6em;
}
h4{
	font-size:1.4em;
}
h5{
	font-size:1em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #2F2F2F;
}

a:hover {
	color: #3f3;
	transition: all 1000ms ease;
}



#wrapper {

}

.container {
	width: 1000px;
	margin: 0px auto;
}

#map-container{
	overflow: hidden;
	height: 400px;
	padding: 0px 0px 0px 0px;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 150px;
	padding: 30px 0px 0px 0px;
}


#header {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	padding: 0px 50px;
	background: #415C13 url(images/img02.png) repeat;
}

/* Logo */

#logo {
	float: left;
	width: 440px;
	margin: 0;
	padding: 0;
	color: #ff0000;
}

#logo h1, #logo p {
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -2px;
	font-size: 2.5em;
}

#logo h1 a {
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #11EE11;
}

#logo p a {
	color: #11EE11;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Splash */

#splash {
	width: 960px;
	height: 300px;
	margin: 0px auto;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #E7EBED;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */

#menu {
	float: right;
	width: 550px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	line-height: 100px;
	margin-right: 1px;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	font-weight:bold;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 16px;

	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #7a7;
	transition: all 500ms ease;
}

#menu .current_page_item a {
}

/* Page */
#ajeeb{
	width: 150px;
}

.loginForm {
	width:30%;
	margin:0 auto;
	
}

.tabs{
	width:70%;
	background-image:url(images/img02.png);
	margin:0 auto;
	padding-bottom:5px;
	height:40px;
}
.tabs ul li{
	display:inline;
	width:25%;
	float:left;
	text-align:center;
}

.tabs-r{
	width:70%;
	background-image:url(images/img02.png);
	margin:0 auto;
	padding-bottom:5px;
	height:40px;
}
.tabs-r ul li{
	display:inline;
	margin:0;
	padding:0;
	width:33%;
	float:left;
	text-align:center;
}

#page {
	width: 1000px;
	overflow:visible;
	margin: 60px auto 0 auto;
	padding: 30px 50px;
	background: #FFFFFF;
}


#page1 {
	width: 1200px;
	margin: 60px auto 0 auto;
	padding: 30px 50px;
	background: #FFFFFF;
}
/* Content */

#content {
	float: left;
	width: 900px;

	padding: 0px;
	margin-bottom:50px;
}

.content{
	padding-bottom:30px;
	border-bottom: 1px solid #E7EBED;
}

#info{
    width:50%;
    margin:0 auto;
/*    border: 1px solid;*/
}
.profile-table {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    border-collapse: separate;
    border-spacing: 2em;
    width:100%;
}
.edit-button{
	float:right;
}
#update{
	display:none;
	width:50%;
	margin:0 auto;
	/*visibility:hidden;*/
}

.profile-update input{
	padding:5px 5px;
	margin:15px 5px;
}

.post {
	width:100%;
	border-bottom: 1px solid #E7EBED;
	padding-bottom: 20px;
}

.post .title {
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	color: #262626;
}

.post .meta {
	margin-bottom: 30px;
	padding: 10px 0px 0px 0px;
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 40px 0px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	width: 100px;
	margin-right: 10px;
	padding: 5px 0px;
	background: url(images/img02.png) no-repeat left top;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	color: #FFFFFF;
}

.comments {
	display: block;
	float: left;
	width: 100px;
	padding: 5px 0px;
	background: url(images/img02.png) no-repeat left top;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 270px;
	margin: 0px;
	padding: 30px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 40px;
	border-bottom: 1px solid #E7EBED;
	margin: 0px 0px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 0px;
}

#sidebar h2 {
	height: 38px;
	padding: 0px 0px 30px 0px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #262626;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Three Column Footer Content */

#footer-content {
	color: #D6E2F0;
}

#footer-content a {
	color: #92A9B6;
}

#footer-bg {
	overflow: hidden;
	width: 890px;
	padding: 30px 55px 50px 55px;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 26px;
	color: #000000;
}

#footer-content ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

#footer-content a {
}

#column1 {
	float: left;
	margin-left:50px;
	width:40%;
}

#column2 {
	float: right;
	width:40%;
}

#column3 {
	float: left;
	width:40%;
	margin-left:50px;
}
#column4 {
	float: right;

	width:40%;
}


/* Footer */

#footer {
	height: 100px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: 'Abel', sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #303030;
}

#footer a {
	color: #414141;
}

#marketing {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 20px 0px 10px 0px;
	border-top: 1px solid #E7EBED;
	border-bottom: 1px solid #E7EBED;
}

#marketing .text1 {
	float: left;
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-size: 34px;
	color: #345E9B;
}

#marketing .text2 {
	float: right;
}

#marketing .text2 a {
	display: block;
	width: 252px;
	height: 38px;
	padding: 15px 0px 0px 0px;
	background: url(images/img07.jpg) no-repeat left top;
	letter-spacing: -2px;
	text-align: center;
	text-transform: lowercase;
	font-size: 30px;
	color: #FFFFFF;
}

#banner {
	width: 1100px;
	margin: 0px auto;
}

#banner .content {
	width: 1040px;
	height: 1000px;
	overflow:visible;
	padding: 30px;
	background: #FFFFFF;
}

#three-columns {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #C9C8C8;
}

#three-columns h2 {
	padding: 0px 0px 20px 0px;
	font-size: 30px;
}

#map-canvas {
	height: 275px;
	width: 800px;
	margin-top: 0.6em;
	left: 20px;
}

#map-canvas2{
	height: 275px;
	width: 800px;
	margin-top: 0.6em;
	left: 20px;
}

.button{
	background: none repeat scroll 0% 0% rgb(106, 175, 0);
	color:rgb(255,255,255);
	border-color:rgb(106, 175, 0);
}

.button:hover{
	border: 1px solid rgb(80, 134, 0);
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgb(80, 134, 0);
	border-bottom-color: rgb(80, 134, 0);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image-source: none;
	border-image-slice: 100% 100% 100% 100%;
	border-image-width: 1 1 1 1;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	background-color: rgb(255, 255, 255);
	color: rgb(80, 134, 0);
}

#searchTextField{
	position:relative;
	left: 20px;
}

h5{
	background: none repeat scroll 0% 0% rgb(176,224,176);
	min-width: 500px;
	cursor:pointer;
}

#select-seats{
	margin-left:150px;
}

.step-content{
	margin-right:20px;
	margin-left:20px;
}

.text-input{
	width:99.5%;
	display: inline;
	transition: box-shadow 0.3s ease 0s;
	transition-property: box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.text-input1{
	width:49%;
	display: inline;
	transition: box-shadow 0.3s ease 0s;
	transition-property: box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
	
}

.text-input2{
	width:49%;
	display: inline;
	transition: box-shadow 0.3s ease 0s;
	transition-property: box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
	margin-right:0px;
	margin-left:2px;
}

.button2{
	width: 100%;
	cursor:pointer;
	font-weight: bold;
	padding: 0.2em 0.4em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	display: block;
	line-height: 1.4em;
	font-size: 1.1em;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	background-color: rgb(201,221,255);
}
.button2:hover{
	background-color: rgb(173,206,245);
}

p1{
	font-size:75%;
	font-weight:normal;
}


#confirm-menu{
	min-height:120px;
	margin-right:20px;
	margin-left:20px;
}

.days{
	width:15%;
	float:left;
	
}

.start-time{
	width: 30%;
}

.end-time{
	position:relative;
	top:-29px;
	float:right;
	width:45%;
}

.ui-widget{
	font-size:0.6em;
}



.clear{
	clear:both;
}